name: Test & Build

on:
  push:
    branches: ['!main']
  pull_request:
    branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js $NODE_VERSION
        uses: actions/setup-node@v3
        with:
          node-version: $NODE_VERSION
          cache: 'npm'
      - uses: ./.github/workflows/common/build.yml
        with:
          environment: test
      - uses: ./.github/workflows/common/test.yml
