name: Test, Build & Release

on:
  push:
    branches: ['main']

env:
  bundle_name: 'jira-tickets-diff.user.js'

jobs:
  on-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ vars.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODE_VERSION }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: npm run test
      - name: Read package.json
        id: set_var
        run: |
          content=`cat ./package.json`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          # end of optional handling for multi line json
          echo "::set-output name=packageJson::$content"
      - name: Release
        uses: ncipollo/release-action@v1.13.0
        with:
          artifacts: 'dist/${{ env.bundle_name }}'
          bodyFile: 'readme.md'
          artifactErrorsFailBuild: true
          name: 'v${{fromJson(steps.set_var.outputs.packageJson).version}}'
          tag: 'v${{fromJson(steps.set_var.outputs.packageJson).version}}'
      - name: Publish to Gist
        uses: exuanbo/actions-deploy-gist@v1.1.4
        with:
          gist_id: ${{ vars.GIST_ID }}
          token: ${{ secrets.GIST_TOKEN }}
          file_path: 'dist/${{ env.bundle_name }}'
          file_type: text
